<div>
    <ul>
        <li>
            <a href="/example/by_directive.html"> by_directive </a>
        </li>
        
        <li>
            <a href="/example/by_service.html"> by_service </a>
        </li>
        
        <li>
            <a href="/example/by_directive_with_korean.html"> by_directive_with_korean </a>
        </li>
        
        <li>
            <a href="/example/by_directive_with_audio.html"> by_directive_with_audio </a>
        </li>
        
        <li>
            <a href="/example/by_directive_page_move.html"> by_directive_page_move </a>
        </li>
        
        <li>
            <a href="/example/by_directive_multiple.html"> by_directive_multiple </a>
        </li>
    </ul>
</div>